<div class="footer">
  <footer> 
    <nav id="links">
    <p class="fw-bold p-2" style="font-size: clamp(10px, 5vw, 15px);">Ready to start planning your next trip?<br> Contact us today, and let's make your travel dreams come true!<br></p> 
    <a href=""><i class="fa-brands fa-facebook"></i></a><a href=""><i class="fa-brands fa-square-instagram"></i></a><a href="">
      <i class="fa-brands fa-x-twitter"></i></a><a href=""><i class="fa-brands fa-pinterest"></i></a>
      
   
       <p><span>&#169;</span> Copyright StavrosAn 2024</p>
  </nav>
  
  
  </footer>
</div>