<div class="hero">
    <div class="p-5 text-center rounded-2 img"  style="background-image: url('./assets/imgs/beach.webp');">
        <div class="content">
           <div class="mask">
           <div class="text-black">
             <h1 class="mb-3">Join us on a journey of<br>a lifetime</h1>
           </div>
           <div><button type="button" class="btn learn" routerLink="/about">Learn More <i class="fa-solid fa-arrow-right"></i></button>
            <button type="button" class="btn book" routerLink="">Booking <i class="fa-solid fa-hand-point-up"></i></button></div>
           </div>           
</div>
</div>
</div>
