
    <section class="about" id="about">
        
    <div class="about-info">
      <h3>Welcome to Wanderlust Travel Agency</h3>

    <p>At Wanderlust Travel Agency, we believe that travel is more than just visiting new places; 
        it's about experiencing the world in ways that inspire, rejuvenate, and transform.
         Founded with a passion for discovery and a commitment to excellence, we specialize in crafting 
         personalized journeys that cater to your unique tastes and preferences.</p>
    
    <h3>Our Mission</h3>
    
    <p>Our mission is to turn your travel dreams into reality. Whether you're seeking a tranquil beach escape,
     an adventurous trek through the mountains, a cultural immersion in bustling cities, or a luxurious retreat,
      we are here to curate the perfect itinerary for you. We aim to create unforgettable experiences that enrich 
      your life and broaden your horizons.</p>
    </div>
    <div class="about-img">
        <img src="./assets/imgs/earth.webp" alt="">
    </div>
    </section>


    <section class="services" id="services">
        <div class="heading">
            <h2>Why choose us</h2>
        </div>
          <div class="card-content">
            <div class="row">
                <i class="fa-solid fa-globe"></i>
                <div class="card-body h-100">
                    <h3>Expertise</h3>
                    <p>With years of experience in the travel industry, our team of dedicated travel experts has extensive
                     knowledge of destinations worldwide. 
                    </p>
                </div>
            </div>
            <div class="row">
                <i class="fa-solid fa-compass"></i>
                <div class="card-body h-100">
                    <h3>Personalized Service</h3>
                    <p>We understand that every traveler is unique. 
                    That's why we take the time to understand your preferences and design customized travel plans 
                    that suit your individual needs.</p>
                </div>
            </div>
            <div class="row">
                <i class="fa-solid fa-hotel"></i>
                <div class="card-body h-100">
                    <h3>Seamless Planning</h3>
                    <p>From booking flights and accommodations to arranging guided
                     tours and local experiences, we handle all the details so you can focus on enjoying your journey.</p>
                </div>
            </div>
            <div class="row">
                <i class="fa-solid fa-user-shield"></i>
                <div class="card-body h-100">
                    <h3>24/7 Support</h3>
                    <p>Your peace of mind is our priority. 
                    We offer round-the-clock support to assist you with any concerns or adjustments during your trip.</p>
                </div>
            </div>
         </div>
    </section>

